body {
    font-family: Arial; 
    font-size: 24px;
    border-top: 23px;
    border-left:  40px;
    
    }
.light-theme {
    color:white;
    border-top: 100;
    background-color: royalblue;
    background: linear-gradient(royalblue , blue );
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    --modeFC: white;
    --ModeBG: royalblue ;
    --modeborder: white;
    div {
        width: 100%;
        height: 100%;
        border: 5px solid  white;
        background-color: royalblue;
        margin: auto;
        padding: 10px;
      }
      .div1 
      {
        width: 90%;
        background: none;
        border: none;
        height: 100%;
        margin: auto;
        padding: 10px;
        
      }
      img
      {
        border:5px solid white;
        background: goldenrod;
      }
}

.dark-theme {
    color:Black;
    border-top: 100;
    background-color: lightyellow;
    background: linear-gradient(lightgoldenrodyellow , yellow );
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    --modeFC: black;
    --ModeBGC: lightgoldenrodyellow;
    --modeborder: black;
    --ModeBG: lightgoldenrodyellow;
        div{
        width: 100%;
        height: 100%;
        border: 5px solid  black;
        background-color: lightgoldenrodyellow;
        margin: auto;
        padding: 10px;
      }
      .div1{
        width: 90%;
        background: none;
        border: none;
        height: 100%;
        margin: auto;
        padding: 10px;
      }
      img
      {
        border:5px solid black;
        background: lightcoral;
      }
}

.mode{    
    position: fixed;
    height: 65px;
    width: 120px;
    bottom: 0%;
    left: 0%;
    border: none;
    border: 5px solid;
    border-color: var(--modeborder);
    color: var(--modeFC);
    background-color: var(--ModeBGC);
    background: var(--ModeBG);
}
.sel{
    font-family: Arial; 
    font-size: 15px;    
    height: 65px;
    width:120px;
    bottom: -4px;
    left:calc(10%);
    border: none;
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-color: var(--modeborder);
    color: var(--modeFC);
    background-color: var(--ModeBGC);
    background: var(--ModeBG);

}
.sel1{   
    font-family: Arial; 
    font-size: 15px;
    height: 65px;
    width: 115px ;
    left: -4px;
    bottom: -4px;
    margin:auto;
    left: calc(10%-4px);
    border: none;
    border-color: var(--modeborder);
    border-right: 5px solid;    
    border-top: 5px solid;
    color: var(--modeFC);
    background-color: var(--ModeBGC);
    background: var(--ModeBG);


}
.Auto{
    width: 0px;
    height: 0px;
}